.profile-div {
  width: 25%;
}

.content-div {
  width: 75%;
}

.page-container {
  display: flex;
}

.card.profile-card {
  height: 100%;
}

.card-img {
  border-radius: 50%;
  padding: 11px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  height: 40px;
  margin: 5px 0;
}

.navbar-footer.navbar-nav.nav-item {
  display: flex;
}

/* Repo Page Styles vvvvvv elf */
.red-star {
  color: red;
}

.form-div-container {
  margin-bottom: 50px;
}

/* Repo Page Styles ^^^^ elf */
.scroll {
  margin: 4px, 4px;
  padding: 4px;
  background-color: aqua;
  width: 500px;
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}





/* packages page styles -- wbv  */

.logo-icon {
  max-height: 20px;
  width: auto;
  margin: 0px 10px 0px 0px;
}

.inline-block {
  display: inline-block;
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.packages-card {
  margin: 15px;
}

.package-form-card {
  /* padding: 10px; */
  margin: 10px; 
  max-width: 800px; 
  height: auto;
}

.pack-input {
  margin: 4px;
}

.form-intro { 
  margin: 10px 15px 20px 0px;
}

.pack-form-submit {
  margin: 15px 5px 10px 5px;
}

/* Projects Page Styles -- AB */
